<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.mapper.UserFollowMapper">

    <select id="getFansList" resultType="com.xxx.vo.UserVo">
        select
            u.id,u.name,ui.avatar,ui.description
        from
            t_user u,t_user_follow uf,t_user_info ui
        where
            u.id = uf.uid
          and
            ui.uid = u.id
          and
            uf.fid = #{uid};
        limit {page},{limit}
    </select>

    <select id="getGroupContainUser" resultType="com.xxx.vo.UserVo">
        select
            u.id,u.name,ui.avatar,ui.description
        from
            t_user u,t_user_follow uf,t_user_info ui
        where
            u.id = uf.uid
          and
            ui.uid = u.id
          and
            uf.uid = #{uid}
          and
            uf.gid = #{gid}
        limit {page},{limit}
    </select>
</mapper>
